/*
 $Id$

 based on http://www.tjkdesign.com/articles/liquid/4.asp
 
*/

body {
    min-width:640px;
    margin: 0;
    padding: 0;
    font: 0.9em Tahoma, Arial, Helvetica, sans-serif;
    background-color: white;
    color: #000040;
}

#header,#menu,#content,#sub-section,#footer {
    overflow:hidden;
    display:inline-block
}

#header,#footer {width:100%}
#menu,#content,#sub-section {float:left}
#menu {width:20%}
#content {width:67%}
#sub-section {width:12.9%}
#footer {clear:left}

/* more general stuff */

.box {
    margin: 12px 12px 8px 10px;
    border-left: none;
}

div.box h4 {
    height: auto;
}

.footer {
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 12px;
    padding-top: 6px;
}

.itemViews {
    border-bottom-width: 2px;
}

#footer { border-bottom: none; }

