/*
 $Id$

*/

.body {
    margin: 4em;
}

.top, #header, #menu, #sub-section, #footer, .object-actions {
    display: none;
}

#content {
    width: 100%;
    color: #000077;
}

h1, h2, h3, h4, h5 {
    color: #005599;
}

